{% extends "index.html" %}
{% import "macros/post_macros.html" as post_macros %}

{% block title %}
    {% if page.title %}
    {{ page.title }}
    {% else %}
    {{ super() }}
    {% endif %}
{% endblock title %}

{% block header %}
    {{ super() }}
{% endblock header %}

{% block main %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <data class="muted">{{ post_macros::meta(page=page) }}</data>
    </header>

    <article itemprop="articleBody">
        {% if page.summary and page.summary != page.content %}
            {{ page.summary | safe }}

            {% if page.extra.toc | default(value=false) and page.toc %}
              {% include "partials/toc.html" %}
            {% endif %}

            <!-- Render the rest of the content after removing the summary portion -->
            {{ page.content | replace(from=page.summary, to="") | safe }}

        {% else %}
            <!-- If no summary separate from content, just render content -->
            {{ page.content | safe }}
        {% endif %}
    </article>


    <!-- Page footer -->
    {% include "partials/footer.html" %}
</article>

{% endblock main %}
